/* -------- Composition -------- */

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%237C909A' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  --color-primary: #1c4e80;
  --color-secondary: #7c909a;
  --color-accent: #ea6947;
  --color-neutral: #23282e;
  --color-base-100: #202020;
  --color-info: #0091d5;
  --color-success: #6bb187;
  --color-warning: #dbae59;
  --color-error: #ac3e31;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

/* -------- Utility -------- */

/* -------- Block -------- */

circle {
  transition: all 0.7s ease-in-out;
}

.overview-wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overview-container {
  width: 90%;
  max-width: 62rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.data-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number-container h1 {
  font-size: 80px;
  border-radius: 10rem;
  padding: 3rem;
}

.pie-percent {
  color: var(--color-accent);
}

.left-stat {
  width: 6rem;
}

.hidden {
  display: none;
}

.counties-card {
  margin-right: 1rem;
  padding: 1rem;
}

.nav-container {
  text-align: center;
  background-color: #1d4f62;
  color: #f1f1e6;
}

.nav-container h1 {
  color: #d2f3ff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
